.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0);
}

.main.connected {
    justify-content: space-between;
    padding: 0;
    height: 4rem;
}

.account {
    padding: 1.5rem;
}

.accountIcon {
    width: 25px;
    height: 25px;
}

.logout {
    padding: 1.5rem;
    font-size: 1rem;
}
