.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - var(--navbar-height));
    margin-top: var(--navbar-height);
}

.dashboardTitle {
    padding-bottom: 1.5rem;
}

.widgetGrid {
    display: grid;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    max-width: 90%;
}

.focusBlur {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    opacity: 0;
    visibility: hidden;
    transition: backdrop-filter 0.2s ease, background-color 0.2s ease,
        opacity 0.2s ease;
}

.focusBlur.active {
    opacity: 1;
    visibility: visible;
}

/* Responsive grid setup */
@media (min-width: 600px) {
    .widgetGrid {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media (min-width: 1200px) {
    .widgetGrid {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}
