.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textInput {
    margin: 1rem 0;
}

.SignInTitle {
    font-size: 1.75em;
    margin-top: 1rem;
    font-family: var(--secondary-font);
}

.signinWithDash {
    margin: 0.2rem 0 1rem 0;
}

.externalAccountOpts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.buttonFormat {
    width: 250px;
    height: 60px;
    border-radius: 12px;
    background-color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    color: var(--on-background) !important;
    align-self: center;
}

.buttonFormat:hover {
    background-color: var(--form-color) !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    transition: all 0.3s ease-out;
}

.toggleButtonFormat_SignIn_SignInView {
    background-color: var(--primary) !important;
    color: var(--on-background) !important;
    font-family: var(--secondary-font);
    margin-right: -10px;
    z-index: 1;
    position: relative;
}

.toggleButtonFormat_Activate_SignInView {
    background-color: var(--on-background);
    font-family: var(--secondary-font);
    color: var(--primary);
    margin-left: -10px;
    position: relative;
}

.toggleButtonFormat_SignIn_ActivateView {
    background-color: var(--on-background);
    color: var(--primary);
    margin-right: -10px;
    position: relative;
}

.toggleButtonFormat_Activate_ActivateView {
    background-color: var(--primary) !important;
    color: var(--on-background) !important;
    margin-left: -10px;
    z-index: 1;
    position: relative;
}

.toggleButtonStyle {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

.lineFormat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.75rem 0;
    color: var(--background);
    width: 100%;
    gap: 0.25rem;
}

.line {
    width: 30%;
    height: 1px;
    background-color: var(--background);
}

.smallText {
    margin-bottom: 1rem;
}

.errorMessage {
    color: red;
    font-size: 10px;
    height: 30px;
    width: 80%;
    text-align: center;
}
