.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 2rem;
    z-index: 1;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash {
    font-size: 100px;
    color: var(--on-background);
}

.analytics {
    font-size: 105px;
    color: var(--primary);
}

.heroVideo {
    position: absolute;
    object-fit: cover;
    height: 65vh;
    width: 130vh;
    transform: rotate(-90deg) translateX(25%) translateY(50%);
    /* transform: rotate(-90deg) translateX(28%) translateY(25vh); */
    right: 0;
    bottom: 0;
    z-index: 0;
}

/* BUTTONS: SIGN UP & ABOUT */
.heroBtns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
    
} */

/* @media (prefers-reduced-motion) {
    
} */

/* Mobile */
/* @media (max-width: 700px) {
  
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  
} */

/* @media (prefers-color-scheme: dark) {
  
} */
