.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 1rem;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash {
    font-family: 'Colfax';
    font-size: 100px;
    color: var(--on-background);
}

.analytics {
    font-family: 'Colfax';
    font-size: 105px;
    color: var(--primary);
}

.heroVideo {
    object-fit: cover;
    height: 25vw;
    width: 100vh;
    transform: rotate(-90deg) translateY(280px);
    position: fixed;
    right: 0;
}

/* BUTTONS: SIGN UP & ABOUT */
.heroBtns {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.btns {
    font-family: 'Colfax';
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
    
} */

/* @media (prefers-reduced-motion) {
    
} */

/* Mobile */
/* @media (max-width: 700px) {
  
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  
} */

/* @media (prefers-color-scheme: dark) {
  
} */
