.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    color: var(--on-background);
    font-family: var(--secondary-font), serif;
}

.spinner {
    font-size: 3rem; /* Size of the spinner */
    animation: spin 2s linear infinite;
}

/* animate spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
