.btn {
    background-color: var(--on-background);
    border: var(--background) 1px solid !important;
    color: var(--background) !important;
}

.btnContents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
}

.btn:hover {
    background-color: transparent;
    transition: all 0.3s ease-out;
}
