@font-face {
    font-family: 'Colfax';
    src: local('Colfax'), url('/public/fonts/Colfax.otf') format('truetype');
    font-weight: 400;
}

#slogans-container {
    transform: translateX(-465px) translateY(-50px);
    display: flex;
    justify-content: center; /* Center the slogans horizontally */
    align-items: center; /* Center the slogans vertically */
}

#slogan-1,
#slogan-2 {
    transform: translateX(30px);
    margin: 140px 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slogan-1 > .basic_text {
    font-family: 'Colfax';
    font-size: 100px;
    color: white;
}

#slogan-2 > .basic_text {
    font-family: 'Colfax';
    font-size: 105px;
    color: rgba(72, 24, 106);
}

.video {
    object-fit: cover;
    height: 140%;
    transform: rotate(-90deg) translateY(280px);
    position: fixed;
    z-index: -1;
}

/* COMB CONTAINER */
.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

/* BUTTONS: SIGN UP & ABOUT */
.hero-btns {
    display: flex;
    gap: 50px;
    margin-top: 280px;
    margin-right: 1100px;
}

.black-rectangle {
    position: absolute;
    width: 780px;
    height: 810px;
    background-color: black;
    left: 0;
    z-index: -2;
}

#dynamic-text {
    display: inline-block;
    transition: transform 1s ease-in-out;
}

#description {
    display: flex;
    margin-left: -900px;
    flex-direction: column;
    color: white;
}

#description > #basic_text {
    font-family: 'Colfax';
    font-size: 33px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    0% {
        border-color: transparent;
    }
}

.dynamic-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(60, end) infinite;
    color: rgba(72, 24, 106);
    font-family: 'Colfax';
    font-size: 34px;
    font-weight: bold;
}
