.container {
    font-family: 'Colfax';
    width: 80%;
    height: 100vh;
    display: flex;
    background-color: var(--background);
    align-items: center;
    margin-left: 20%;
    color: white;
}

.textContainer {
    padding-left: 150px;
    color: white;
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.textContainer h2 {
    font-size: 50px;
    text-align: left;
    margin-bottom: 15px;
}

.textContainer span {
    font-size: 23px;
    margin-bottom: 20px;
}

.title {
    font-weight: bolder;
}

.textContainer p {
    margin-bottom: 20px;
    margin-top: 28px;
}
