.DropDownClosed {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.DropDownOpen {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    border-radius: 12px 12px 0 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selectedType {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 100;
    padding: 0 0.5rem;
}

.optionsContainer {
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 0 0 12px 12px;
    background-color: var(--background);
    overflow: hidden;
}

.option {
    padding: 2.5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.option:hover {
    background-color: var(--primary);
}
