.main {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--navbar-height); /* navbar height */
}