.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    padding: 1rem 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
}

.dash {
    font-size: 1.5rem;
    font-weight: 700;
}

.accountIcon {
    width: 25px;
    height: 25px;
}

.logout {
    /* padding: 1.5rem; */
    font-size: 1rem;
}
