.statsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
    background-color: var(--on-background);
}

.statsGrid.expanded {
    margin: auto 0;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: var(--on-background);
    padding: 1rem;
    background-color: var(--background-contrast);
    overflow: hidden;
}

.stat.expanded {
    padding: 2rem;
}

.stat.expanded > p,
.stat.expanded > h3 {
    font-size: 1.5rem;
}

.categoricalGrid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.categoricalStat {
    width: 100%;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.25rem 0;
}

.categoricalStat > h3 {
    font-size: 1.2em;
    color: var(--on-background);
    justify-self: center;
}

.categoricalStat > p {
    font-size: 1em;
    color: var(--on-background);
    justify-self: center;
}
