.dynamicText {
    display: inline-block;
    transition: transform 1s ease-in-out;
}

.description {
    display: flex;
    flex-direction: column;
    color: var(--on-background);
}

.constantDescription {
    font-family: 'Colfax';
    font-size: 33px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: calc(100% - 40px);
    }
}

@keyframes running {
    from {
        width: 100%;
    }
    to {
        width: 40px;
    }
}

.dynamicText {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(60, end) infinite;
    color: var(--primary);
    font-family: 'Colfax';
    font-size: 34px;
    font-weight: bold;
}

.dynamicContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.animationExpandingContainer {
    display: flex;
    justify-content: right;
    animation: running 4s steps(60, end) infinite;
}

.animationContainer {
    width: 40px;
    height: 40px;
}
